@import "tailwindcss";

/*== FADE IN ANIMATIONS ==*/
.fade-in-element-1s {
  animation: slideUp 1s ease-out forwards; 
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-element-2s {
  animation: slideUp 2s ease-out forwards; 
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-element-3s {
  animation: slideUp 3s ease-out forwards; 
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  66% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}